* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #eee;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #222;
} */

#form {
  max-width: 700px;
  padding: 2rem;
  box-sizing: border-box;
}

.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}

#form label, #form input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
}

#form label {
  text-align: right;
  width: 30%;
}

#form input {
  border: 2px solid #aaa;
  border-radius: 2px;
}
